.sidebar{
    position: fixed;
    bottom: 0;
    left: 0;
    top:50px;
    width:72px;
    background-color: white;
    border-right-width: 1px;
    border-right-style:solid ;
    border-right-color: rgb(219, 213, 213) ;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link {
    height: 74px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
}

.sidebar-link:hover {
    background-color: rgb(220, 220, 220);

}

.sidebar-link img {
    height: 29px;
    margin-bottom: 4px;
}

.sidebar-link div {
    font-family: roboto, arial;
    font-size: 10px;
}